# DB
DB_CONTAINER_NAME="db"
DB_ROOT_PASSWORD="root"
DB_USER="user1"
DB_PASSWORD="user1_password"
DB_DATABASE="laravel_database"
DB_PORT=3306

# APP
APP_CONTAINER_NAME="app"
APP_PORT=8080
APP_VIRTUAL_HOST="localhost"
APP_VIRTUAL_PORT=80

# PMA
PMA_CONTAINER_NAME="pma"
PMA_PORT=4040
PMA_VIRTUAL_HOST="localhost"
PMA_VIRTUAL_PORT=80

# MAIL
MAIL_CONTAINER_NAME="mail"
MAIL_HTTP_PORT=8025
MAIL_SMTP_PORT=1025
MH_STORAGE="maildir" # [memory / mongodb / maildir]
MH_MAILDIR_PATH="/tmp" # Maildir path (for maildir storage backend)
